
body {
  background-color: tan;
}
#receipt, #delivery {
  display: none;
  color: blue;
}
#heading {
  color: red;
  text-align: center;
}
.yummy img {
  display: block;
  margin: 0 auto;
}
#deliveryOption {
  cursor: pointer;
  color: red;
}

#deliveryOption:hover {
  text-decoration: underline;
}
